@import "settings.scss";
@import "songList.scss";

:root {
    --text: #eee;
    --background: #060d16;
    --panel: #1d1f29;
    --surface: #3c3c4c;
    --surface-green: color-mix(in srgb, var(--surface) 80%, #00ff00);
    --surface-red: color-mix(in srgb, var(--surface) 80%, #ff0000);
    --surface-inactive: color-mix(in srgb, var(--surface) 50%, var(--panel));
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    overflow: hidden !important;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    color: var(--text);
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--background);
    overflow: hidden;
    overscroll-behavior: none;
    width: 100vw;
    height: 100vh;
}

canvas {
    position: absolute;
    inset: 0;
}

#uiCanvas {
    z-index: 100;
}

.popup {
    display: grid;
    position: absolute;
    inset: 0;
    place-items: center;
}

dialog {
    background-color: var(--panel);
    border: none;
    box-shadow: 0 0 5px #00000077;

    transition:
        opacity 200ms ease-in-out,
        display 200ms allow-discrete,
        overlay 200ms allow-discrete;
    
    color: var(--text);
}

input, button {
    background-color: var(--bg-color);
}
button:hover {
    background-color: color-mix(in srgb, white 5%, var(--bg-color));
}
button:active {
    background-color: color-mix(in srgb, white 10%, var(--bg-color));
}