:root {
    --text: #eee;
    --background: #060d16;
    --panel: #1d1f29;
    --surface: #3c3c4c;
    --surface-green: color-mix(in srgb, var(--surface) 80%, #00ff00);
    --surface-red: color-mix(in srgb, var(--surface) 80%, #ff0000);
    --surface-inactive: color-mix(in srgb, var(--surface) 50%, var(--panel));
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    overflow: hidden !important;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    color: var(--text);
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--background);
    overflow: hidden;
    overscroll-behavior: none;
    width: 100vw;
    height: 100vh;
}

input, button {
    background-color: var(--bg-color);
    box-shadow: 0 4px color-mix(in srgb, black 20%, var(--bg-color));

    &:focus-visible {
        outline: 1px solid #777;
    }
}
button:hover {
    background-color: color-mix(in srgb, white 5%, var(--bg-color));
    box-shadow: 0 4px color-mix(in srgb, black 15%, var(--bg-color));
}
button:active {
    background-color: color-mix(in srgb, white 10%, var(--bg-color));
    box-shadow: 0 4px color-mix(in srgb, black 10%, var(--bg-color));
}