#songList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;

    .list {
        padding: 0.5rem;
        flex: 1;
        position: relative;
        height: 100%;
    }

    .song {
        background-color: var(--surface);
        padding: 0.5rem;
        display: grid;
        column-gap: 1rem;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto;

        img {
            grid-row: 1 / 3;
            grid-column: 1;
            height: 5rem;
        }

        .title {
            margin-top: auto;
            font-weight: bold;
            font-size: 1.5rem;
            grid-row: 1;
            grid-column: 2;
        }
        .artist {
            font-size: 1.25rem;
            grid-row: 2;
            grid-column: 2;
        }
    }

    .info {
        background-color: var(--panel);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        flex: 1;
    }

    .info .item {

    }
}