#songList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    height: 100%;

    .list {
        flex: 1;
        height: 100%;

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .song {
        background-color: var(--panel);

        padding: 0.5rem;
        display: grid;
        column-gap: 1rem;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto auto;

        translate: -2rem 0;
        opacity: 0.4;
        &.selected {
            translate: 0;
            opacity: 1;
        }

        img {
            grid-row: 1 / 3;
            grid-column: 1;
            height: 5rem;
        }

        .title {
            margin-top: auto;
            font-weight: bold;
            font-size: 1.5rem;
            grid-row: 1;
            grid-column: 2;
        }
        .artist {
            font-size: 1.25rem;
            grid-row: 2;
            grid-column: 2;
        }

        .maps {
            grid-column: 3;
            grid-row: 1 / 3;

            display: grid;
            grid-template-rows: repeat(2, 1fr);
            gap: 0.25rem;
            grid-auto-flow: column;

            padding: 0.5rem;

            span {
                background-color: color-mix(in srgb, var(--color) 30%, var(--panel));
                border: 1px solid var(--color);
                border-radius: 50%;

                // This is a bunch of messy constants, but whatever
                height: 1.75rem;
                width: 1.75rem;
                padding: 0.25rem;
                
                display: grid;
                place-items: center;
                line-height: 1.375rem;
            }
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        flex: 1.75;
        height: 100%;
    }

    .info .item {
        background-color: var(--panel);

        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-template-rows: auto 1fr auto auto auto auto;
        gap: 0.5rem;
        
        padding: 1rem;

        translate: 2rem 0;
        opacity: 0.4;
        &.selected {
            translate: 0;
            opacity: 1;
        }

        &:not(.selected) * {
            pointer-events: none;
        }

        .title {
            font-weight: bold;
            font-size: 2rem;
            grid-column: 1;
            grid-row: 1;
        }
        .artist {
            font-size: 1.5rem;
            grid-column: 1;
            grid-row: 2;
        }
        img {
            grid-column: 3;
            grid-row: 1 / 5;
            max-height: 10rem;
        }
        .data {
            grid-column: 2;
            grid-row: 1 / 3;

            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            span {
                background-color: var(--surface);
                padding: 0.5rem;
            }
        }
        .maps {
            grid-column: 1 / 3;
            grid-row: 4;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.5rem;
            align-items: flex-end;
            justify-content: flex-end;

            .map {
                --bg-color: color-mix(in srgb, var(--color) 30%, var(--panel));
                width: 7rem;
                border: 1px solid var(--color);
                font-size: 1rem;
                text-align: left;
                padding: 0.5rem;
                white-space: nowrap;
            }
            .map .difficulty {
                font-size: 1.25rem;
                font-weight: bold;
                margin-right: 0.25rem;
            }
            .map .notes {
                display: block;
            }
        }

        .buttons {
            grid-row: 5;
            grid-column: 1 / -1;

            display: flex;
            flex-direction: row;
            gap: 0.5rem;
        }
        button {
            border: none;
            --bg-color: var(--surface);

            font-size: 1.5rem;
            color: var(--text);
            padding: 0.5rem 1rem;

            position: relative;

            &.play {
                flex: 3;
                
                .map-name {
                    position: absolute;
                    right: 1rem;
                    font-size: 1.25rem;
                }
            }
            &.preview {
                flex: 1;
            }
        }

        .leaderboard {
            grid-column: 1 / -1;
            grid-row: 6;

            h2 {
                font-size: 1.5rem;
                margin: 0 0 0.5rem 0;
            }
        }
    }
}