#settings {
    h1 {
        font-size: 2rem;
        margin: 0 0 1rem 0;
    }

    h2 {
        font-size: 1.5rem;
        margin: 0;
    }

    input {
        background-color: #3c3c4c;
        color: white;
        border: none;

        // &::
    }
}